
.card {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 1430px;
}

.card-image {
    width: 800px; /* Largura da imagem */
    height: auto; /* Manter proporção */
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0 0 10px;
}

.card-content p {
    margin: 0;
}
