@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #4e2bc3;
    --color2: #00F446;
    --color3: #A700F5;
    --color4: #F50109;
    --color5: #ffffff;
    --color6: #F50109;
    --gray: #292929;
}

#h1.text-primary {
    color: var(--color1);
}

.border-blue{
    border: 1px solid var(--color1); 
}

.text-gray{
    color: var(--gray);
}